---
import BaseLayout from './BaseLayout.astro';

const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <p>
    Published on: {
      new Date(frontmatter.pubDate).toLocaleDateString('en', {
        year: "numeric",
        month: "long",
        day: "numeric",
      })
    }
    <br>
    Written by: {frontmatter.author}
  </p>
  <p><em>{frontmatter.description}</em></p>
  <img
    class='hero-image'
    src={frontmatter.image.url}
    alt={frontmatter.image.alt}
  />
  <slot />
</BaseLayout>
